<header id="header">
<div class="inner">

    <!-- Logo -->
    <a href="index.html" class="logo">
        <span class="symbol">
        <%=image_tag("logo.svg",  alt: "Logo")%>
        </span><span class="title">Phantom</span>
    </a>

    <!-- Nav -->
    <nav>
        <ul>
            <li><a href="#menu">Menu</a></li>
        </ul>
    </nav>

</div>
</header>
