<p style="color: green"><%= notice %></p>

<h1>Libros</h1>
<%= link_to "Crear nuevo libro", new_libro_path %>
<br><hr>

<div id="libros">
  <% @libros.each do |libro| %>
    <%= render libro %>
    <p>
      <%= link_to "Show this libro", libro %>
    </p>
  <% end %>
</div>


